.mobile-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .span {
        display: inline-block;
        width: 25px;
        height: 4px;
        margin-bottom: 4px;
        background: #000;

        &:last-child {
            margin-bottom: 0;
        }
    }
}